In [1]:
from pandas_datareader import data as web
import os
import math
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

def get_stock(ticker, start_date, end_date, s_window, l_window):
    try:
        df = web.get_data_yahoo(ticker, start=start_date, end=end_date)
        df['Return'] = df['Adj Close'].pct_change()
        df['Return'].fillna(0, inplace = True)
        df['Date'] = df.index
        df['Date'] = pd.to_datetime(df['Date'])
        df['Month'] = df['Date'].dt.month
        df['Year'] = df['Date'].dt.year 
        df['Day'] = df['Date'].dt.day
        for col in ['Open', 'High', 'Low', 'Close', 'Adj Close']:
            df[col] = df[col].round(2)
        df['Weekday'] = df['Date'].dt.weekday_name  
        df['Short_MA'] = df['Adj Close'].rolling(window=s_window, min_periods=1).mean()
        df['Long_MA'] = df['Adj Close'].rolling(window=l_window, min_periods=1).mean()        
        col_list = ['Date', 'Year', 'Month', 'Day', 'Weekday', 'Open', 
                    'High', 'Low', 'Close', 'Volume', 'Adj Close',
                    'Return', 'Short_MA', 'Long_MA']
        df = df[col_list]
        return df
    except Exception as error:
        print(error)
        return None

def get_last_digit(y):
        x = str(round(float(y),2))
        x_list = x.split('.')
        fraction_str = x_list[1]
        if len(fraction_str)==1:
            return 0
        else:
            return int(fraction_str[1])


ticker='ORCL'
start_date='2014-01-01'
end_date='2018-12-31'
s_window = 14
l_window = 50
input_dir = r'/Users/sinsakuokazaki/Document/DataScience'
output_file = os.path.join(input_dir, ticker + '.csv')

df = get_stock(ticker, start_date, end_date, s_window, l_window)
df['last digit'] = df['Open'].apply(get_last_digit)

df['count'] = 1
total = len(df)

df_1 = df.groupby(['last digit'])['count'].sum()
df_2 = df_1.to_frame()
df_2.reset_index(level=0, inplace=True)
df_2['digit_frequency'] = df_2['count']/total
df_2['uniform'] = 0.10

output_file = os.path.join(input_dir, ticker + '_digit_analysis.csv')
df_2.to_csv(output_file, index=False)

In [3]:
df.head()

,Date,Year,Month,Day,Weekday,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA,last digit,count
Date,,,,,,,,,,,,,,,,
2014-01-02,2014-01-02,2014,1,2,Thursday,37.78,38.03,37.55,37.84,18162100.0,35.03,0.000000,35.0300,35.0300,8,1
2014-01-03,2014-01-03,2014,1,3,Friday,37.65,37.86,37.56,37.62,11693900.0,34.93,-0.002651,34.9800,34.9800,5,1
2014-01-06,2014-01-06,2014,1,6,Monday,37.64,37.80,37.42,37.47,15329400.0,34.80,-0.003987,34.9200,34.9200,4,1
2014-01-07,2014-01-07,2014,1,7,Tuesday,37.66,37.93,37.50,37.85,16792200.0,35.15,0.010141,34.9775,34.9775,6,1
2014-01-08,2014-01-08,2014,1,8,Wednesday,37.79,37.91,37.56,37.72,16111600.0,35.03,-0.003434,34.9880,34.9880,9,1